# env
venv/
.env
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
*.pyc
*.py[cod]
*.sqlite3
*.sqlite3-journal
*.wsgi
*.log

# database
db.sqlite3
db.sqlite3-journal

# static
staticfiles/
static/

# media
media/

# node
node_modules/

# macOS
.DS_Store

# ide
.vscode/
.idea/